.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  color: rgb(50, 50, 50);
}
.calculator-div {
  /* display: inline-block; */
  height: fit-content;
  width: 360px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.display-out {
  height: 90px;
  width: 100%;
  background-color: rgb(210, 208, 208);
  text-align: right;
  color: rgb(70, 69, 69);
  font-size: 70px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(128, 127, 127, 0.941) inset;
  font-family: "Orbitron", sans-serif;
}
#out {
  margin-right: 20px;
}
.grid-container {
  height: fit-content;
  display: grid;
  gap: 1px 1px;
  grid-template-columns: auto auto auto auto;
  border: 1px solid rgb(210, 208, 208);
}
.grid-item {
  border: 1px solid rgb(210, 208, 208);
  padding: 20px;
  font-size: 30px;

  font-family: monospace, sans-serif;
  text-align: center;
  user-select: none;
}
.col-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item:nth-child(4n) {
  background-color: rgb(216, 71, 18);
  color: white;
}
.grid-item:nth-child(19) {
  background-color: rgb(216, 71, 18);
  color: white;
}
.grid-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
